@import 'https://raw.githubusercontent.com/petrmrkvicka/case2/blob/master/fonts/._futura_bold_font-webfont.woff';

body{
  width: 100vw;
  height: 100vh;
  margin: auto 0;
  border: 0%;
  padding-top: 3em;
  padding-bottom: 5%;
  font-family: '_futura_bold_font-webfont', sans-serif;
  overflow: hidden;


}



h1{
  text-align: center;
  line-height: normal;
  font-size: 2.3em;
  padding: 1.8em 0em;


}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: auto 0;
    display: inline-block;
    border: 2px solid #004480;
    border-radius: 3px;
    box-sizing: border-box;
  }

img {
  width: 75vw;
  max-width: 400px;
  top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;


}

button, a{
  font-size: .5em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.16);
  transition: all 0.3s;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1em;


  }


.blue {
    background-image:
    linear-gradient(to right,
    #004480 0%,
    #002546 100%);
    color: white;
    text-align: center;
    border: 2px solid #004480;
    padding: 10px;
    border-radius: 7px;
    width: 80vw;
    margin-bottom: 1.5em;

}

.white {
    color: black;
    padding: 1em;
    text-align: center;
    border: 2px solid #004480;
    padding: 10px;
    border-radius: 7px;
    width: 80vw;



}
