@import 'https://raw.githubusercontent.com/petrmrkvicka/case2/blob/master/fonts/._futura_bold_font-webfont.woff';

@font-face {
  font-family: 'futurabold';
  src: url('../fonts/futura_bold_font-webfont.woff2') format('woff2'),
  url('../fonts/futura_bold_font-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}
@font-face {
  font-family: 'futurabook';
  src: url('../fonts/futura_book_font-webfont.woff2') format('woff2'),
  url('../fonts/futura_book_font-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}

*{
  outline:none
}

body{
  width: 100vw;
  height: 100vh;
  margin: auto 0;
  border: 0%;
  padding-top: 3em;
  padding-bottom: 5%;
  overflow: hidden;
}


h1{
  text-align: center;
  line-height: normal;
  font-size: 4em;
  font-family: 'futurabold';


}

p, h3 {
  text-align: center;
  font-family: 'futurabold';


}

input[type=text], select {
    width: 80vw;
    padding: 12px 20px;
    margin: 2% auto;
    display: inline-block;
    border: 2px solid #004480;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: 'futurabook';
  }

img {
  width: 75vw;
  max-width: 400px;
  top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;


}

.arrow {
  height: 2em;
  display:
}

button, a.button, input[type="submit"] {
  font-size: .5em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.16);
  transition: all 0.3s;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1em;
  font-family: 'futurabook';


  }


.blue, input[type="submit"] {
    background-image:
    linear-gradient(to right,
    #004480 0%,
    #002546 100%);
    color: white;
    text-align: center;
    border: 2px solid #004480;
    padding: 10px;
    border-radius: 7px;
    width: 80vw;
    margin-bottom: 1.5em;

}

.white {
    color: black;
    padding: 1em;
    text-align: center;
    border: 2px solid #004480;
    padding: 10px;
    border-radius: 7px;
    width: 80vw;



}





.questionDiv {
height: 90vh;
width: 95vw;
margin-left:auto;
margin-right: auto;
}

.theRightAnswerDiv h3 {
display: block;
margin: auto;
text-align: center;
color: white;
margin-top: 50px;
font-size: 30px;
margin-bottom: 50px;
}

.theWrongAnswerDiv h3 {
 display: block;
 margin: auto;
 text-align: center;
 color: white;
 margin-top: 50px;
 font-size: 30px;
 margin-bottom: 50px;
}

.theRightAnswerDiv p {
display: block;
margin: auto;
width: 80%;
color: white;
line-height: 1.5;
}

.theWrongAnswerDiv p {
 display: block;
 margin: auto;
 width: 80%;
 color: white;
 line-height: 1.5;
}

.theRightAnswerDiv button {
 display: block;
 margin: auto;
margin-top: 50px;
color: black;
text-align: center;
border: 2px solid #004480;
padding: 10px;
border-radius: 7px;
width: 80vw;
font-size: 1em;
background-color: white;
box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.16);
}

.theWrongAnswerDiv button {
 display: block;
 margin: auto;
margin-top: 50px;
color: black;
text-align: center;
border: 2px solid #004480;
padding: 10px;
border-radius: 7px;
width: 80vw;
font-size: 1em;
background-color: white;
box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.16);
}
