@import 'https://raw.githubusercontent.com/petrmrkvicka/case2/blob/master/fonts/._futura_bold_font-webfont.woff';

@font-face {
  font-family: 'futurabold';
  src: url('../fonts/futura_bold_font-webfont.woff2') format('woff2'),
  url('../fonts/futura_bold_font-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}
@font-face {
  font-family: 'futurabook';
  src: url('../fonts/futura_book_font-webfont.woff2') format('woff2'),
  url('../fonts/futura_book_font-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}


body{
  width: 100vw;
  height: 100vh;
  margin: auto 0;
  border: 0%;
  padding-top: 3em;
  padding-bottom: 5%;
  font-family: '_futura_bold_font-webfont', sans-serif;
  overflow: hidden;

}



h1{
  text-align: center;
  line-height: normal;
  font-size: 2.3em;
  padding: 1.8em 0em;
  font-family: 'futurabold';
}

p {
  text-align: center;
  font-family: 'futurabook';


}

input[type=text], select {
    width: 80vw;
    padding: 12px 20px;
    margin: auto;
    display: block;
    border: 2px solid #004480;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: 'futurabook';
  }

img {
  width: 80vw;
  max-width: 475px;
  top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;


}

.arrow {
  height: 2em;
  display: flex;
  width: 5em;
  margin: 0px;
}

.logo {
  height: 2em;
  width: auto;
margin: 0px 0px 5px 0px;
}

.logo2 {
  height: 2em;
  width: auto;
margin: 0px 0px 1em 2.7em;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding: none;
}

button, a.button {
  font-size: .5em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.16);
  transition: all 0.3s;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1em;
  font-family: 'futurabook'

  }


.blue {
    background-image:
    linear-gradient(to right,
    #004480 0%,
    #002546 100%);
    color: white;
    text-align: center;
    border: 2px solid #004480;
    padding: 10px;
    border-radius: 7px;
    width: 80vw;
    margin-bottom: 0.5em;


}

.white {
    color: black;
    padding: 1em;
    text-align: center;
    border: 2px solid #004480;
    padding: 10px;
    border-radius: 7px;
    width: 80vw;

}


form {
  margin-top: 20em;
}


#wifi {
  font-size: 0.6em;
  width: 70%;
  margin: auto;

}

h2 {
  font-family: 'futurabold';
  font-size: 2em;
  margin: auto;
  margin-top: 5em;
  text-align: center;
}

#createteam {
  width: 80%;
  text-align: left;
  margin-bottom: 0.3em;
  margin-top: 4em;
}

h3 {
  font-family: 'futurabold';
  margin: auto;
  margin-bottom: 0.3em;
  width: 80%;
}

.congratulations {
  padding-bottom: 0em;
  margin-bottom: 0em;
  padding-top: 3.5em;
}

.goodtogo {
margin-top: 0px;
font-size: 1.25em;
margin-bottom: 3.5em;
}

.AU-GUEST {
  font-size: 1.25em;
  width: 80%;
  margin: auto;
}

.continue {
  margin-top: 9em;
}

#team {
  padding: 0px;
}
